@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
=======
@tailwind utilities;
>>>>>>> f6d926e89c17cdb362a9b4ad9defe28d55acb13f
